---
import { getCollection } from 'astro:content';
import Card from "./Card.astro";
const projects = await getCollection('projects');
---
<section id="projects"> 
    <header class=" mb-4">
        <h2 class="m-0 fs-4 fw-bold">Proyectos</h2>
    </header>
    <section class="row gap-3">
        {projects.map((project: any) => (
            <div class="project-card" transition:name={`hero-${project.slug}`}>
                <Card 
                    src={project.data.heroImage}
                    description={project.data.description}
                    title={project.data.title}
                    tag={project.data.tag}
                    url={`/projects/${project.slug}`}
                />
            </div>
        ))}
    </section>
</section>


